# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [9]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a < b:
            return b
        else:
            return a

In [10]:
# Check
lesser_of_two_evens(2,4)

2

In [12]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [21]:
def animal_crackers(text):
    istruecheck=[i[0] for i in text.split()]
    if istruecheck[0] == istruecheck[1]:
        return True
    else:
        return False

In [22]:
# Check
animal_crackers('Levelheaded Llama')

True

In [24]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [1]:
def makes_twenty(n1,n2):
    return True if n1 + n2 == 20 or n1 == 20 or n2 == 20 else False

In [2]:
# Check
makes_twenty(20,10)

True

In [3]:
# Check
makes_twenty(2,3)

False

In [4]:
makes_twenty(12,8)

True

In [5]:
makes_twenty(1,20)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [78]:
def old_macdonald(name):
    splitletters=list(name)
    splitletters[0]=splitletters[0].upper()
    splitletters[3]=splitletters[3].upper()
    name=''.join(splitletters)
    return name

In [79]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [80]:
old_macdonald('sentence')

'SenTence'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [100]:
def master_yoda(text):
            wordlst=text.split()
            wordlst.reverse()
            wordlst=" ".join(wordlst)
            return wordlst

In [101]:
# Check
master_yoda('I am home')

'home am I'

In [102]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [128]:
def almost_there(n):
    return True if abs(n-100)<=10 or abs(n-200)<=10 else False

In [129]:
almost_there(90)

True

In [130]:
# Check
almost_there(104)

True

In [131]:
# Check
almost_there(150)

False

In [132]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [6]:
def has_33(nums):
    for x in range(len(nums)-1):
        if nums[x] == 3 and nums[x+1] == 3:
            return True
    return False

In [7]:
# Check
has_33([1, 3, 3])

True

In [8]:
# Check
has_33([1, 3, 1, 3])

False

In [204]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [9]:
def paper_doll(text):
    txt_lst=list(text)
    for i in range(len(text)):
        txt_lst[i]*=3
    f_res="".join(txt_lst)
    return f_res

In [10]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [11]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [239]:
def blackjack(a,b,c):
    if a + b + c <= 21:
        return a+b+c
    elif a + b + c > 21:
        for i in (a,b,c):
            if i==11:
                return a+b+c-10 if a+b+c-10 <= 21 else "BUST"
        else:
            return "BUST"

In [240]:
# Check
blackjack(5,6,7)

18

In [241]:
# Check
blackjack(9,9,9)

'BUST'

In [242]:
# Check
blackjack(9,9,11)

19

In [243]:
blackjack(11,11,10)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [269]:
def summer_69(arr):
    if 6 not in arr:
        return sum(arr)
    else:
        index_6=arr.index(6)
        index_9=arr.index(9)
        del arr[index_6:index_9+1]
        return sum(arr)

In [270]:
# Check
summer_69([1, 3, 5])

9

In [271]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [272]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [274]:
summer_69([])

0

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [289]:
def spy_game(nums):
    zero_counter = 0
    for x in nums:
        if zero_counter < 2 and x == 0:
            zero_counter += 1
        elif zero_counter == 2 and x == 7:
            return True
    return False

In [290]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [291]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [293]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [297]:
spy_game([1,1,2,0,4,5,0,0,0,2,4,6,83,21,1,7])

True

In [301]:
spy_game([1,8,2,1,7,5,54,3,5,9,1,3,0,7,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [59]:
def count_primes(num):
    prime_counter = 0
    for x in range(2,num+1):
            for y in range(2,x):
                if(x % y == 0):
                    break
            else:
                prime_counter += 1
    return prime_counter

In [60]:
# Check
count_primes(100)

25

In [61]:
count_primes(200)

46

In [62]:
count_primes(1000)

168

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [12]:
def print_big(letter):
            patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    ',10:' ****'}
            ltr_map = {'a':[1,2,4,3,3],'b':[5,3,5,3,5],'c':[10,9,9,9,10],'d':[5,3,3,3,5],'e':[4,9,4,9,4]}
            for x in ltr_map[letter]:
                print(patterns[x])

In [13]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!